{% extends "main/base.html" %}
{% block title %}Benefits for Members | ANUMC{% endblock %}
{% block content %}
<h1 class="title">Benefits for members</h1>
<p>
    Below are the membership discounts as listed on the ANUMC website.  This
    information is reproduced word for word from the public page at
    <em>Benefits for members</em> to ensure nothing is summarised.  Please
    consult the original site for the most up‑to‑date details.
</p>

<h2 class="title is-5">Membership Discounts:</h2>
<p>
    The following stores are generous enough to provide ANUMC member
    discounts. If you’re in the market for gear, please consider buying
    from them. You’ll need to show your ANUMC membership card in order
    to get the discount. If you have any trouble, please let someone on
    the Executive know.
</p>

<p><strong>Bloc Haus:</strong></p>
<p>
    $17 casual entry at all BlocHaus gyms<br>
    20% off 3‑month, 6‑month &amp; 12‑month paid in full memberships
</p>
<p>
    <a href="https://cbr.blochaus.com.au/">https://cbr.blochaus.com.au/</a>
</p>

<p><strong>Mountain Strong:</strong></p>
<p>
    Participants on organised Club trips will also receive a 20% ($15) ‑ 30%
    ($18) discount on entry and shoe hire!
</p>
<p>
    On private trips:
</p>
<p>
    10% off memberships and 5 or 10 passes
</p>
<p>
    <a href="https://www.mountainstrongcbr.com/#the-theme">https://www.mountainstrongcbr.com/#the-theme</a>
</p>

<p><strong>Mont Adventure Shop:</strong></p>
<p>
    15% off all stock excluding sale items.<br>
    8 Ipswich St, Fyshwick<br>
    (02) 6162 1661
</p>

<p><strong>Paddy Pallin:</strong></p>
<p>
    20% off most stock. They will match prices from other stores for the same or similar items.<br>
    11 Lonsdale St, Braddon<br>
    (02) 6257 3883
</p>

<p><strong>Rhythm snow sports:</strong></p>
<p>
    15% off vast majority of products<br>
    8 Sharp St, Cooma NSW, ph (02) 6452 2303<br>
    website <a href="http://www.rhythmsnowsports.com.au/">www.rhythmsnowsports.com.au</a>
</p>

<p><strong>Climbing Anchors:</strong></p>
<p>
    Discount code available for members for online store<br>
    website <a href="https://www.climbinganchors.com.au/">https://www.climbinganchors.com.au/</a>
</p>
<p>
    The ANUMC acknowledges the Traditional Owners of this land, Ngunnawal and
    Ngambri peoples, who are caretakers of this Country on which this club
    and the ANU reside and operate on. We pay our respects to Country,
    to custodians, Elders, knowledge‑holders and their kin, and we
    acknowledge all Aboriginal and Torres Strait Islander peoples of
    Australia as having strong and continuing connections to land,
    culture, and Country.
</p>

<h2 class="title is-4">Membership Discounts</h2>
<p>
The following stores are generous enough to provide ANUMC member
discounts. If you're in the market for gear, please consider buying
from them. You'll need to show your ANUMC membership card in order to
get the discount. If you have any trouble, please let someone on the
Executive know.
</p>
<h3 class="title is-5">Bloc Haus:</h3>
<p>$17 casual entry at all BlocHaus gyms<br>
20% off 3-month, 6-month &amp; 12-month paid in full memberships</p>
<h3 class="title is-5">Mountain Strong:</h3>
<p>Participants on organised Club trips will also receive a 20% ($15) - 30% ($18)
discount on entry and shoe hire!</p>
<p><strong>On private trips:</strong></p>
<p>10% off memberships and 5 or 10 passes</p>
<h3 class="title is-5">Mont Adventure Shop:</h3>
<p>15% off all stock excluding sale items.<br>
8&nbsp;Ipswich&nbsp;St, Fyshwick<br>
(02)&nbsp;6162&nbsp;1661</p>
<h3 class="title is-5">Paddy Pallin:</h3>
<p>20% off most stock. They will match prices from other stores for the same or similar items.<br>
11&nbsp;Lonsdale&nbsp;St, Braddon<br>
(02)&nbsp;6257&nbsp;3883</p>
<h3 class="title is-5">Rhythm snow sports:</h3>
<p>15% off vast majority of products<br>
8&nbsp;Sharp&nbsp;St, Cooma&nbsp;NSW, ph&nbsp;(02)&nbsp;6452&nbsp;2303<br>
website <a href="http://www.rhythmsnowsports.com.au/">http://www.rhythmsnowsports.com.au/</a></p>
<h3 class="title is-5">Climbing Anchors:</h3>
<p>Discount code available for members for online store<br>
website <a href="https://www.climbinganchors.com.au/">https://www.climbinganchors.com.au/</a></p>
{% endblock %}