{% extends "main/base.html" %}
{% block title %}FAQs | ANUMC{% endblock %}
{% block content %}
<h1 class="title">FAQs</h1>

<h2 class="title is-5">I can't sign in / make an account!!</h2>
<p>
    When you <em>sign up</em>, an account will automatically be made for you on the website within a few hours.
    Check your emails (and spam!) for a message from <a href="mailto:anumc.noreply@gmail.com">anumc.noreply@gmail.com</a>.
    This will give you a login link and some instructions to get you started with the Club.
</p>
<p>
    Be patient and wait after you pay on ANU Sport's website. If you still don't get an email after a day,
    please contact us as something has gone wrong!
</p>

<h2 class="title is-5">How do I join a trip?</h2>
<p>
    See <em>this page</em>
</p>

<h2 class="title is-5">Who is eligible to join the club?</h2>
<p>
    Anyone over the age of 18! Although non‑students pay SRA fees when signing up.
</p>

<h2 class="title is-5">How much do trips cost?</h2>
<p>
    Costs for each trip are detailed on their respective trip calendar entry. Most trips are run by volunteers who do
    not charge for their time. Trip costs normally include park entry and travel (fuel costs). These are shared between
    participants with payment coordinated by the trip leader. Participants cover their gear hire and food.
</p>
<p>
    When external instructors are hired to run courses for members a discounted rate is often provided for members who
    actively contribute to the club. This is decided at the discretion of the exec.
</p>

<h2 class="title is-5">What if there are no trips in my favourite activity?</h2>
<ul>
    <li>Most trips are run by volunteers so may not always be available.</li>
    <li>Message the Slack or Facebook groups (on the contact page)</li>
    <li>Come up with a plan and be willing to coordinate the trip. A suitable Trip Leader or supervisor may be available to help.
        The club also has a large selection of guide books and maps in the gear store.</li>
    <li>Consider <em>leading your own trip!</em></li>
</ul>

<h2 class="title is-5">I'm not sure if I have the right gear</h2>
<p>
    You should be able to hire most of the gear you need from the <em>gear store</em>. For other items like clothing or footwear,
    check with your trip leader at the pre‑trip meeting. There is some advice about activity specific gear on the
    <em>Activities</em> pages.
</p>

<h2 class="title is-5">Someone has asked me to be a Safety Contact for a trip, what's that?</h2>
<p>
    If the person who nominated you is overdue to return from their trip, then you should contact someone on the ANUMC exec.
    They will make further enquiries using the information stored on the website and contact the authorities if necessary.
</p>

<p>
    The ANUMC acknowledges the Traditional Owners of this land, Ngunnawal and Ngambri peoples, who are caretakers of this Country
    on which this club and the ANU reside and operate on. We pay our respects to Country, to custodians, Elders,
    knowledge‑holders and their kin, and we acknowledge all Aboriginal and Torres Strait Islander peoples of Australia as having
    strong and continuing connections to land, culture, and Country.
</p>
{% endblock %}