{% extends "main/base.html" %}
{% block title %}Gear Store – Location & Hours | ANUMC{% endblock %}
{% block content %}
<h1 class="title">Gear Store</h1>
<p>
    The ANUMC has an extensive inventory of equipment associated with the activities
    that the club runs. This gear is available to members for very reasonable hire
    rates to support their participation in club activities.
</p>

<h2 class="title is-4">Opening Hours</h2>
<p>
    The gear store is open on Mondays and Wednesdays from <strong>18:00‑18:30</strong> for Semester 1 2025 (17/2‑6/6).
    During mid‑semester break (7/6‑19/7), the gear store will only be open on Wednesdays from
    <strong>18:00‑18:30</strong>.
</p>
<p>
    Entry to the gear store closes 15 minutes before the end of the session.
    If you have arrived at the Gear Store before this time, we will ensure that you have
    the gear you need. If you arrive after, then you will unfortunately need to
    source gear elsewhere or postpone your trip.
</p>
<p>
    The gear store may be opened at other times at the discretion of the gear store officers.
    Trip leaders conducting a pre‑trip meeting other than normal hours and who require gear hire,
    should contact the gear store officers to request assistance.
</p>
<p>
    <strong>Can’t return your gear on time?</strong>   Email the gear store officers regarding your situation and ask for an
    extension: <a href="mailto:anumountaineeringclub@gmail.com">anumountaineeringclub@gmail.com</a>
</p>

<hr>

<h2 class="title is-4">Location</h2>
<p>
    The gear store is located in the ANU Sport building (David Cocking Sport and Recreation Centre,
    Building 19A on the <a href="https://campusmap.anu.edu.au">Campus Map</a>) in the far sports hall inside
    Storeroom 4 and up the stairs.
</p>
<p>
    <em>Map shows the route to the gear store through the sports hall.</em> Note the gear store is not wheelchair accessible due
    to its location in the loft of a storage area up stairs.
</p>

<p>
    Only ANUMC members may hire gear. All members are required to pay hire fees and a deposit.
    Hire rates (for both club trips and private trips) are per week. If you wish to extend the
    duration of your hire you will need to return the gear and re‑hire it. Multi week trips
    will need written approval from the head gear store officer and will be charged on a per week basis.
</p>
<p>
    All hires are subject to the gear hire <a href="#">rules</a>.
</p>

<hr>

<h2 class="title is-4">Club Trip Hire / Week</h2>
<p>
    The below hire rates are flat rates, meaning they are fixed regardless of how many items are hired.
    These rates are for the hire of gear for personal use on club trips.
</p>
<table class="table is-striped is-hoverable">
    <thead>
        <tr>
            <th>Category</th>
            <th>Fee per week</th>
            <th>Deposit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A</td>
            <td>$0</td>
            <td>$10</td>
        </tr>
        <tr>
            <td>B</td>
            <td>$10</td>
            <td>$30</td>
        </tr>
        <tr>
            <td>C</td>
            <td>$10</td>
            <td>$60</td>
        </tr>
    </tbody>
</table>
<p>
    <strong>Category Gear</strong>
</p>
<ul>
    <li><strong>A:</strong> foam sleeping mat, whistle, book, groundsheet, first aid kit, helmet, poo tube</li>
    <li><strong>B:</strong> everything other than A or C</li>
    <li><strong>C:</strong> AT ski gear, trad gear, mountaineering tents, party tent</li>
</ul>
<p>
    Trip leaders may hire personal gear free of charge but are still required to pay a deposit.
</p>

<hr>

<h2 class="title is-4">Private Trip Hire / Week</h2>
<p>
    Only Categories A and B (above) are able to be hired for private trips. Ski gear, safety gear (ropes,
    harnesses, rock protection), mountaineering tents cannot be hired for private trips.
</p>
<p>
    Club trips get priority over private trips. Hire fees for private trips are higher than those of club
    trips in order to incentivise people to make their private trips available to other club members.
</p>
<table class="table is-striped is-hoverable">
    <thead>
        <tr>
            <th>Items available</th>
            <th>Fee per week</th>
            <th>Deposit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Up to 3 items</td>
            <td>$15</td>
            <td>$30</td>
        </tr>
        <tr>
            <td>Up to 6 items</td>
            <td>$30</td>
            <td>$45</td>
        </tr>
        <tr>
            <td>Up to 9 items</td>
            <td>$45</td>
            <td>$60</td>
        </tr>
    </tbody>
</table>

<hr>
<p>
    The ANUMC acknowledges the Traditional Owners of this land, Ngunnawal and
    Ngambri peoples, who are caretakers of this Country on which this club and the ANU
    reside and operate on. We pay our respects to Country, to custodians, Elders,
    knowledge‑holders and their kin, and we acknowledge all Aboriginal and Torres Strait
    Islander peoples of Australia as having strong and continuing connections to land,
    culture, and Country.
</p>
{% endblock %}