{% extends "main/base.html" %}
{% block title %}Member Protection Information | ANUMC{% endblock %}
{% block content %}
<h1 class="title">Member Protection Information</h1>
<p>
The ANUMC takes the protection and support of its members very seriously, if you
are having or noticing any issues in the club and would like to speak to us
directly please do. The avenues through which you can do so are detailed on
<em>our contact page</em>.
</p>

<p>
If you have a concern and would like to learn more about your options for
pursuing a resolution, but do not want information being relayed to the
executive committee, you are welcome to contact our current Member Protection
Information Officer (MPIO) Terence (his details can be found <em>here</em>). He is
also Vice President of the club, but in his role as MPIO he acts separately to
the executive committee to provide members with the information they need to
pursue a suitable resolution to a complaint. There are a few things worth noting
about the MPIO role:
</p>

<ul>
  <li>The role exists to provide you, our members, with full information regarding
  your options pursuing complaint resolution. You can provide as little or as
  much information as you would like about a complaint while talking to the MPIO.</li>
  <li>The information you provide about your complaint will not be relayed to the
  rest of the executive committee and can be kept in confidence unless the matter
  is one which is required to be reported.</li>
  <li>The MPIO can help you to identify formal, informal, internal and external
  paths to resolution. What the MPIO cannot do is actively investigate your
  complaint or advocate for either party in a complaint.</li>
</ul>

<p>
The ANUMC currently follows ANU Sport's Member Protection Policy, which is
available <a href="https://sportandwellbeing.anu-sport.com.au">here</a>.
</p>

<p>
We are also currently seeking an additional Member Protection Information
Officer that is not a member of the club's executive committee. We would love to
hear from anyone who would like to help keep the club safe and healthy by
helping in this role. There is some training involved, but it's a really
valuable way to contribute to this club and community.
</p>
{% endblock %}