{% extends "main/base.html" %}
{% block title %}Rates and Rules | ANUMC Gear Store{% endblock %}
{% block content %}
<h1 class="title">Gear Store – Rates & Rules</h1>
<p>
    Only ANUMC members may hire gear. All members are required to pay hire fees and
    a deposit. Hire rates (for both club trips and private trips) are per week.
    If you wish to extend the duration of your hire you will need to return the
    gear and re‑hire it. Multi week trips will need written approval from the
    head gear store officer and will be charged on a per week basis.
</p>
<p>
    All hires are subject to the gear hire <a href="#">rules</a>.
</p>

<h2 class="title is-4">Club Trip Hire / Week</h2>
<p>
    The below hire rates are flat rates, meaning they are fixed regardless of how
    many items are hired. These rates are for the hire of gear for personal use
    on club trips.
</p>
<table class="table is-striped is-hoverable">
    <thead>
        <tr>
            <th>Category</th>
            <th>Fee per week</th>
            <th>Deposit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A</td>
            <td>$0</td>
            <td>$10</td>
        </tr>
        <tr>
            <td>B</td>
            <td>$10</td>
            <td>$30</td>
        </tr>
        <tr>
            <td>C</td>
            <td>$10</td>
            <td>$60</td>
        </tr>
    </tbody>
</table>
<p><strong>Category Gear</strong></p>
<ul>
    <li><strong>A:</strong> foam sleeping mat, whistle, book, groundsheet, first aid kit, helmet, poo tube</li>
    <li><strong>B:</strong> everything other than A or C</li>
    <li><strong>C:</strong> AT ski gear, trad gear, mountaineering tents, party tent</li>
</ul>
<p>
    Trip leaders may hire personal gear free of charge but are still required to pay a deposit.
</p>

<h2 class="title is-4">Private Trip Hire / Week</h2>
<p>
    Only Categories A and B (above) are able to be hired for private trips. Ski gear,
    safety gear (ropes, harnesses, rock protection), mountaineering tents cannot be
    hired for private trips.
</p>
<p>
    Club trips get priority over private trips. Hire fees for private trips are
    higher than those of club trips in order to incentivise people to make their
    private trips available to other club members.
</p>
<table class="table is-striped is-hoverable">
    <thead>
        <tr>
            <th>Items available</th>
            <th>Fee per week</th>
            <th>Deposit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Up to 3 items</td>
            <td>$15</td>
            <td>$30</td>
        </tr>
        <tr>
            <td>Up to 6 items</td>
            <td>$30</td>
            <td>$45</td>
        </tr>
        <tr>
            <td>Up to 9 items</td>
            <td>$45</td>
            <td>$60</td>
        </tr>
    </tbody>
</table>
{% endblock %}